<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">

	<util:list id="registryHandlers">
		<ref bean="domainRegistryHandler" />
		<ref bean="networkV4RegistryHandler" />
		<ref bean="networkV6RegistryHandler" />
	</util:list>

	<bean id="bootstrapTaskJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="bootstrapSyncService" />
		<property name="targetMethod" value="syncAllRegistry" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="bootstrapTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="bootstrapTaskJobDetail" />
		<property name="cronExpression" value="${cron.bootstrap}" />
	</bean>

	<bean id="taskScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="bootstrapTrigger" />
			</list>
		</property>
	</bean>
</beans>
