<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">
	
	<util:list id="errorMessageList">
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="400"></property>
	    	<property name="title" value="BAD REQUEST"></property>
	    	<property name="description" value="BAD REQUEST"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="404"></property>
	    	<property name="title" value="NOT FOUND"></property>
	    	<property name="description" value="NOT FOUND"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="500"></property>
	    	<property name="title" value="INTERNAL SERVER ERROR"></property>
	    	<property name="description" value="INTERNAL SERVER ERROR"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="405"></property>
	    	<property name="title" value="METHOD NOT ALLOWED"></property>
	    	<property name="description" value="METHOD NOT ALLOWED"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="415"></property>
	    	<property name="title" value="UNSUPPORTED MEDIA TYPE"></property>
	    	<property name="description" value="UNSUPPORTED MEDIA TYPE"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	    <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="422"></property>
	    	<property name="title" value="UNPROCESSABLE ENTITY"></property>
	    	<property name="description" value="UNPROCESSABLE ENTITY"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="401"></property>
	    	<property name="title" value="UNAUTHORIZED"></property>
	    	<property name="description" value="UNAUTHORIZED"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="403"></property>
	    	<property name="title" value="FORBIDDEN"></property>
	    	<property name="description" value="FORBIDDEN"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="509"></property>
	    	<property name="title" value="BANDWIDTH LINIT EXCEEDED"></property>
	    	<property name="description" value="BANDWIDTH LINIT EXCEEDED"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="429"></property>
	    	<property name="title" value="TOO MANY REQUESTS"></property>
	    	<property name="description" value="TOO MANY REQUESTS"></property>
	    	<property name="lang" value="zh"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="301"></property>
	    	<property name="title" value="MOVED PERMANENTLY"></property>
	    	<property name="description" value="MOVED PERMANENTLY"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	     <bean class="org.restfulwhois.rdap.core.common.model.ErrorMessage">
	    	<property name="errorCode" value="501"></property>
	    	<property name="title" value="NOT IMPLEMENTED"></property>
	    	<property name="description" value="NOT IMPLEMENTED"></property>
	    	<property name="lang" value="en"></property>
	    </bean>
	</util:list>
</beans>
