<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-autowire="byType" default-lazy-init="false">
	<context:component-scan base-package="org.restfulwhois.rdap" />
	<context:property-placeholder location="classpath:*.properties" />

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean id="rdapProperties" class="org.restfulwhois.rdap.core.common.util.RdapProperties">
		<property name="localServiceUrl" value="${localServiceUrl}" />
		<property name="maxsizeSearch" value="${maxsizeSearch}" />
		<property name="batchsizeSearch" value="${batchsizeSearch}" />
		<property name="inTlds" value="${inTlds}" />
		<property name="notInTlds" value="${notInTlds}" />
		<property name="minSecondsAccessIntervalAnonymous" value="${minSecondsAccessIntervalAnonymous}" />
		<property name="minSecondsAccessIntervalAuthed" value="${minSecondsAccessIntervalAuthed}" />
		<property name="ipWhiteListForAccessInterval" value="${ipWhiteListForAccessInterval}" />
		<property name="maxConcurrentCount" value="${maxConcurrentCount}" />
		<property name="bootstrapRegistryBaseUrl" value="${bootstrapRegistryBaseUrl}" />
		<property name="bootstrapRegistryUriForDomain" value="${bootstrapRegistryUriForDomain}" />
		<property name="bootstrapRegistryUriForAs" value="${bootstrapRegistryUriForAs}" />
		<property name="bootstrapRegistryUriForIpv4" value="${bootstrapRegistryUriForIpv4}" />
		<property name="bootstrapRegistryUriForIpv6" value="${bootstrapRegistryUriForIpv6}" />
		<property name="notImplementedUri" value="${notImplementedUri}" />			
	</bean>
	<import resource="classpath:spring/spring-serviceContext.xml" />
	<import resource="classpath:spring/spring-timer.xml" />
	<import resource="classpath:spring/spring-search.xml" />
	<import resource="classpath:spring/spring-serviceFilter.xml" />
</beans>
