<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           				   http://www.springframework.org/schema/beans/spring-beans.xsd
           				   http://www.springframework.org/schema/context 
           				   http://www.springframework.org/schema/context/spring-context.xsd
           				   http://www.springframework.org/schema/util 
           				   http://www.springframework.org/schema/util/spring-util.xsd
           				   http://www.springframework.org/schema/aop 
           				   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${jdbc.url}</value>
		</property>
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="minPoolSize">
			<value>5</value>
		</property>
		<property name="maxPoolSize">
			<value>100</value>
		</property>
		<property name="initialPoolSize">
			<value>5</value>
		</property>
		<property name="maxIdleTime">
			<value>25000</value>
		</property>
		<property name="acquireIncrement">
			<value>3</value>
		</property>
		<property name="maxStatements">
			<value>0</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>600</value>
		</property>
		<property name="preferredTestQuery">
			<value>select 1 from dual</value>
		</property>
		<property name="testConnectionOnCheckin">
			<value>true</value>
		</property>
		<property name="acquireRetryAttempts">
			<value>30</value>
		</property>
		<property name="breakAfterAcquireFailure">
			<value>true</value>
		</property>
	</bean>

	<!-- <bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean> -->

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

</beans>
