<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>RDAP Server</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>propertiesConfigLocation</param-name>
		<param-value>classpath:*.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>HttpRequestFilter</filter-name>
		<filter-class>cn.cnnic.rdap.controller.support.HttpRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HttpRequestFilter</filter-name>
		<url-pattern>/.well-known/rdap/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>InvalidUriFilter</filter-name>
		<filter-class>cn.cnnic.rdap.controller.support.InvalidUriFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>InvalidUriFilter</filter-name>
		<url-pattern>/.well-known/rdap/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>cn.cnnic.rdap.controller.support.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
