<?xml version="1.0" encoding="UTF-8"?>
<dataset>
	<!-- domain -->
	<RDAP_IDENTITY_USER USER_ID='1' USER_NAME='user1'
		USER_PWD='pwd' />
	<RDAP_IDENTITY_ROLE ROLE_ID='1' ROLE_NAME='role1' />
	<RDAP_IDENTITY_ACL ID='1' OBJECT_TYPE='domain'
		OBJECT_ID='1' ROLE_ID='1' />
	<RDAP_IDENTITY_USER_REL_ROLE ID='1'
		USER_ID='1' ROLE_ID='1' />

	<RDAP_IDENTITY_USER USER_ID='2' USER_NAME='user2'
		USER_PWD='pwd' />
	<RDAP_IDENTITY_ROLE ROLE_ID='2' ROLE_NAME='role2' />
	<RDAP_IDENTITY_USER_REL_ROLE ID='2'
		USER_ID='2' ROLE_ID='2' />
	<!-- nameServer -->
	<RDAP_IDENTITY_ACL ID='2' OBJECT_TYPE='nameServer'
		OBJECT_ID='1' ROLE_ID='1' />
	<RDAP_IDENTITY_ACL ID='3' OBJECT_TYPE='nameServer'
		OBJECT_ID='11' ROLE_ID='1' />
	<!-- autnum -->
	<RDAP_IDENTITY_ACL ID='4' OBJECT_TYPE='autnum'
		OBJECT_ID='1' ROLE_ID='1' />
	<!-- entity -->
	<RDAP_IDENTITY_ACL ID='5' OBJECT_TYPE='entity'
		OBJECT_ID='1' ROLE_ID='1' />
	<!-- network -->
	<RDAP_IDENTITY_ACL ID='6' OBJECT_TYPE='ip'
		OBJECT_ID='1' ROLE_ID='1' />
</dataset>