<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">

	<util:list id="nameserverSearchStrategyList">
		<ref bean="nameserverSearchByNameStrategy" />
		<ref bean="nameserverSearchByIpStrategy" />
	</util:list>
	<util:list id="domainSearchStrategyList">
		<ref bean="domainSearchByNameStrategy" />
		<ref bean="domainSearchByNsNameStrategy" />
		<ref bean="domainSearchByNsIpStrategy" />
	</util:list>
	<util:list id="entitySearchStrategyList">
		<ref bean="entitySearchByHandleStrategy" />
		<ref bean="entitySearchByFnStrategy" />
	</util:list>
</beans>
