<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">
	<!-- NOTICE: this file CAN'T be formatted! -->
	<!-- truncated notice data -->
	<util:list id="truncatedNoticeList">
		<bean class="org.restfulwhois.rdap.common.model.Notice">
			<property name="title" value="Search Policy"></property>
			<property name="description" ref="noticeDescriptionExcessiveLoad"></property>
			<property name="reasonType" value="result set truncated due to excessive load"></property>
			<property name="reasonTypeShortName" value="excessiveLoad"></property>
		</bean>
		<bean class="org.restfulwhois.rdap.common.model.Notice">
			<property name="title" value="Search Policy"></property>
			<property name="description" ref="noticeDescriptionAuth"></property>
			<property name="reasonType" value="result set truncated due to authorization"></property>
			<property name="reasonTypeShortName" value="authorization"></property>
		</bean>
	</util:list>
	<util:list id="noticeDescriptionExcessiveLoad">
		<value>The list of results does not contain all results due to excessively heavy load on the server.</value>
	</util:list>
	<util:list id="noticeDescriptionAuth">
		<value>The list of results does not contain all results due to lack of authorization.</value>
		<value>This may indicate to some clients that proper authorization will yield a longer result set.</value>
	</util:list>
	<!-- truncated remark data -->
	<util:list id="truncatedRemarkList">
		<bean class="org.restfulwhois.rdap.common.model.Remark">
			<property name="title" value="Data Policy"></property>
			<property name="description" ref="remarkDescriptionExcessiveLoad"></property>
			<property name="reasonType" value="object truncated due to excessive load"></property>
			<property name="reasonTypeShortName" value="excessiveLoad"></property>
		</bean>
	</util:list>
	<util:list id="remarkDescriptionExcessiveLoad">
		<value>The object does not contain all data due to excessively heavy load on the server.</value>
	</util:list>
	<util:list id="notTruncatedNoticeList">      
        <bean class="org.restfulwhois.rdap.common.model.Notice">
            <property name="title" value="the notices for response"></property>
            <property name="description" ref="noticeDescriptionForNotTruncated"></property>            
            <property name="links" ref="linksForNotTruncatedNotice"></property>            
        </bean>       
    </util:list>
    <util:list id="noticeDescriptionForNotTruncated">
        <value>Service subject to The Registry of the CNNIC.</value>
        <value>Copyright (c) 2020 CNNIC.</value>
    </util:list>  
    <util:list id="linksForNotTruncatedNotice">
        <bean class="org.restfulwhois.rdap.common.model.Link">
            <property name="value" value="http://rdap.cnnic.cn/links1"></property>
            <property name="rel" value="self"></property>            
            <property name="href" value="http://rdap.cnnic.cn/links1/href1"></property>
            <property name="hreflang" ref="hreflangForLinksOfNotTruncatedNotice"></property>            
            <property name="title" value="the first links title"></property>
            <property name="media" value="screen"></property>
            <property name="type" value="application/rdap+json"></property>
        </bean>
    </util:list>
    <util:list id="hreflangForLinksOfNotTruncatedNotice">
        <value>en</value>
    </util:list>
</beans>
